/CLIENTE/Cliente_FTP/build/
/SERVIDOR/Servidor_FTP/build/
/CLIENTE/Cliente_FTP/nbproject/private/private.xml
/SERVIDOR/Servidor_FTP/nbproject/private/private.xml
/CLIENTE/Cliente_FTP/nbproject/project.properties
/SERVIDOR/Servidor_FTP/nbproject/project.properties
/CLIENTE/Cliente_FTP/dist/
/SERVIDOR/Servidor_FTP/dist/
/CLIENTE/Cliente_FTP/nbproject/private
/SERVIDOR/Servidor_FTP/nbproject/private